<div class="page-header">
  <%= link_to order_product_orders_path(@order), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to order_product_orders_path(@order, @product_order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editando item Pedido</h1>
</div>

<%= render 'form' %>
